/*
 * from Adobe Color Explore
 *
 * [Copy of Blue Royal Shades]
 * https://color.adobe.com/ko/Copy%20of%20Blue%20Royal%20Shades-color-theme-10309377
 */

/* Color Theme Swatches in Hex */
.Copy-of-Blue-Royal-Shades-1-hex { color: #2039CC; }
.Copy-of-Blue-Royal-Shades-2-hex { color: #192DA1; }
.Copy-of-Blue-Royal-Shades-3-hex { color: #111E6C; }
.Copy-of-Blue-Royal-Shades-4-hex { color: #0C154A; }
.Copy-of-Blue-Royal-Shades-5-hex { color: #080E33; }

/* Color Theme Swatches in RGBA */
.Copy-of-Blue-Royal-Shades-1-rgba { color: rgba(31, 56, 204, 1); }
.Copy-of-Blue-Royal-Shades-2-rgba { color: rgba(24, 45, 161, 1); }
.Copy-of-Blue-Royal-Shades-3-rgba { color: rgba(17, 29, 107, 1); }
.Copy-of-Blue-Royal-Shades-4-rgba { color: rgba(11, 20, 73, 1); }
.Copy-of-Blue-Royal-Shades-5-rgba { color: rgba(8, 14, 51, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-Blue-Royal-Shades-1-hsla { color: hsla(231, 72, 46, 1); }
.Copy-of-Blue-Royal-Shades-2-hsla { color: hsla(231, 73, 36, 1); }
.Copy-of-Blue-Royal-Shades-3-hsla { color: hsla(231, 72, 24, 1); }
.Copy-of-Blue-Royal-Shades-4-hsla { color: hsla(231, 72, 16, 1); }
.Copy-of-Blue-Royal-Shades-5-hsla { color: hsla(231, 72, 11, 1); }
